<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="xtark_description">
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
   <link
          name="base_footprint"/>
  <joint
      name="base_footprint_joint"
      type="fixed">
      <origin
        xyz="0 0 -0.06"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="base_footprint" />
  </joint>
  <link
    name="laser">
    <inertial>
      <origin
        xyz="-0.00140700524011977 0.000833758220548153 -0.010351045304507"
        rpy="0 0 0" />
      <mass
        value="0.0613730463460779" />
      <inertia
        ixx="3.12015849790788E-05"
        ixy="7.04150622406887E-07"
        ixz="-1.08649445088874E-07"
        iyy="2.64093008021745E-05"
        iyz="-5.42268690361595E-08"
        izz="5.61220060035833E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.175 0 0.1235"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sonar0_link">
    <inertial>
      <origin
        xyz="0.00313195281454717 3.67042757588587E-05 0.000104130502142738"
        rpy="0 0 0" />
      <mass
        value="0.0061464228716814" />
      <inertia
        ixx="1.22261543132903E-06"
        ixy="1.48488855495956E-09"
        ixz="4.86527440808979E-09"
        iyy="2.31708371863193E-07"
        iyz="-7.84828158726977E-10"
        izz="1.20791259844664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar0_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar0_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sonar0_joint"
    type="fixed">
    <origin
      xyz="0.15556 0.15556 0.0302"
      rpy="0 0 0.7854" />
    <parent
      link="base_link" />
    <child
      link="sonar0_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sonar1_link">
    <inertial>
      <origin
        xyz="0.00313195281454715 3.67042757567909E-05 0.000104130502141156"
        rpy="0 0 0" />
      <mass
        value="0.00614642287168138" />
      <inertia
        ixx="1.22261543132902E-06"
        ixy="1.48488855496362E-09"
        ixz="4.86527440808988E-09"
        iyy="2.31708371863192E-07"
        iyz="-7.84828158716788E-10"
        izz="1.20791259844664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sonar1_joint"
    type="fixed">
    <origin
      xyz="0.22 0 0.0302"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="sonar1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sonar2_link">
    <inertial>
      <origin
        xyz="0.00313195281454734 3.67042757566938E-05 0.000104130502141524"
        rpy="0 0 0" />
      <mass
        value="0.00614642287168139" />
      <inertia
        ixx="1.22261543132902E-06"
        ixy="1.48488855495956E-09"
        ixz="4.86527440809172E-09"
        iyy="2.31708371863192E-07"
        iyz="-7.84828158839553E-10"
        izz="1.20791259844664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sonar2_joint"
    type="fixed">
    <origin
      xyz="0.15556 -0.15556 0.0302"
      rpy="0 0 -0.7854" />
    <parent
      link="base_link" />
    <child
      link="sonar2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sonar3_link">
    <inertial>
      <origin
        xyz="0.00313195281454637 3.67042757553615E-05 0.000104130502225339"
        rpy="0 0 0" />
      <mass
        value="0.00614642287168139" />
      <inertia
        ixx="1.22261543132894E-06"
        ixy="1.48488855499123E-09"
        ixz="4.86527440820946E-09"
        iyy="2.31708371863185E-07"
        iyz="-7.84828154389274E-10"
        izz="1.20791259844672E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sonar3_joint"
    type="fixed">
    <origin
      xyz="-0.15556 -0.15556 0.0302"
      rpy="0 0 -2.3562" />
    <parent
      link="base_link" />
    <child
      link="sonar3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sonar4_link">
    <inertial>
      <origin
        xyz="0.00313195281454703 3.67042757580816E-05 0.00010413050214237"
        rpy="0 0 0" />
      <mass
        value="0.0061464228716814" />
      <inertia
        ixx="1.22261543132903E-06"
        ixy="1.48488855495932E-09"
        ixz="4.865274408088E-09"
        iyy="2.31708371863193E-07"
        iyz="-7.84828158594938E-10"
        izz="1.20791259844664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/sonar4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sonar4_joint"
    type="fixed">
    <origin
      xyz="-0.15556 0.15556 0.0302"
      rpy="0 0 2.3562" />
    <parent
      link="base_link" />
    <child
      link="sonar4_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.017 0.00599999999999995 -0.000800000000000009"
        rpy="0 0 0" />
      <mass
        value="0.0115393670801753" />
      <inertia
        ixx="5.22832974000795E-06"
        ixy="-1.29246970711411E-22"
        ixz="6.96721951491454E-25"
        iyy="9.16033038596997E-06"
        iyz="9.12554295159614E-25"
        izz="1.43837366626904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-0.039 -0.017 0.0742"
      rpy="0 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xtark_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.1 0.105 0.8802"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
