<?xml version="1.0"?>
<launch>
  <arg name="use_ekf" default="true"/>
  <!-- 启动底盘驱动包 -->  
  <include file="$(find xtark_driver)/launch/xtark_bringup.launch">
    <arg name="use_ekf" value="$(arg use_ekf)"/>
  </include>
  <!-- 启动激光雷达驱动包 -->
  <include file="$(find xtlidar_driver)/launch/XTLIDAR_C25.launch"/>
  
  
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="log" name="laser_filter">
        <rosparam command="load" file="$(find xtark_nav)/configuration_files/xtark_laserfilter.yaml"/>
        <remap from="/scan" to="/scan"/>
        <remap from="/scan_filtered" to="/scan_filtered"/>
  </node>

    <!-- 启动karto建图算法包 -->
    <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
        <param name="odom_frame" value="odom"/>
        <param name="map_update_interval" value="3"/>
        <param name="resolution" value="0.025"/>
        <param name="base_frame" value="base_link"/>
        <remap from="/scan" to="/scan_filtered"/>
    </node>
</launch>
